.profileInfoBlock{
  .wrapper {
    display: flex;

    .imgBlock{

      background: #fff;
      padding: 15px;
      border-radius: 5px;
          .imgBlockWrapper{
            height: 200px;
            overflow: hidden;

            img {
              height: 200px;
              width: 200px;
            }

            .changePhotoBlock {
              display: flex;
              align-items: center;
              justify-content: center;
              bottom: 0;
              left: 0;
              height: 50px;
              width: 100%;
              background: rgba(0, 0, 0, 0.7);
              transition: transform ease-in .2s;

              span {
                font-weight: bold;
                color: #b8b8b8;
                cursor: pointer;
                font-family: 'Roboto', sans-serif;

                &:hover {
                  color: #FFFFFF;
                  padding: 4px 7px;
                  background: rgba(255, 255, 255, 0.2);
                  border-radius: 15px;
                }
              }

            }//changePhotoBlock

            &:hover {
              .changePhotoBlock {
                transform: translateY(-54px);
              }
            }

          }//imgBlockWrapper
    }//imgBlock

    .descriptionBlock {
      background: #fff;
      margin-left: 15px;
      padding: 10px 20px;
      width: 100%;
      border-radius: 5px;



      hr{
        border: 0;
        height: 1px;
        background: #000;
        opacity: .3;
      }
      .name{
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 30px;
        .nameWrapper{
          max-width: 700px;
          overflow: hidden;
        }

      }
      .statusBlock {
          input {
            width: 410px;
            border-radius: 5px;
            border: 1px solid black;
            outline: 0;
          }
          span {
            font-size: 16px;
          }
      }
      .aboutMe {
        overflow: auto;
        max-height: 100px;
        .aboutMeField{
          margin-right: 10px;
          color: black;
          font-weight: bold;
        }
        span{}
      }
    }

  }
}