.contacts {
  .contactsMenu {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
    border: 1px solid #bab8b8;
    border-radius: 10px;
    a{
      margin-right: 10px;
      font-size: 30px;
      &:last-child{
        margin-right: 0;
      }
    }

  }

  button {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0 #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;

    &:hover{
      box-shadow: 0 0 10px 0 #000  inset, 0 0 10px 4px #000 ;
      color: #000;
    }
  }
}