

.formControl {
  &.error {
    div[data-box='parentBox']{

      div[data-box='elementBox']{
        position: relative;
        input, textarea {
          border: 2px solid red;
        }

        span[data-span='errSpan'] {
          position: absolute;
          font:400 16px 'Roboto',sans-serif;
          border: 1px solid red;
          padding: 1px 4px 2px 4px;
          border-radius: 7px;
          color: red;
        }
      }//elementBox

    }//parentBox
  }//error
}//formControl

.formError{
  margin-bottom: 30px;
  border: 2px solid red;
  color: red;
  width: 300px;
  text-align: center;
}