img{
    height: 250px;
    width: 25%;
  }

.profileInfoBlock{

  div{

    img{

    }
  }
  .descriptionBlock{

    .aboutMe{
      height: 50px;
      width: 50px;
      border: 1px solid dodgerblue;
      border-radius: 5px;
      text-align: center;
    }
  }


}